/* Estilos para el modo oscuro de la tabla */
.dark-mode #myTable {
    background-color: #333 !important;
    color: #fff;
}

.dark-mode #myTable th {
    background-color: #122755;
    /* Fondo más oscuro para la cabecera */
    color: #fff;
    /* Texto blanco para los encabezados */
}

#myTable.dark-mode th, #myTable.dark-mode td {
    border-color: #444;
}

#myTable.dark-mode tr.dark-mode {
    background-color: #444;
}

#myTable.dark-mode td, #myTable.dark-mode th {
    color: #fff;
}
